@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-default relative;
  /* overflow-hidden; */
}

.navLinks {
  transition: ease 0.5s;
}

.navLinks:hover {
  @apply bg-default text-white;
}

.pastorImg {
  background-image: url("/images/pastor.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.article {
  box-shadow: 0px 20px 40px 0px #00000033;
}
